/* body */
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* for calculator class */
.calculator{
    height:385px;
    width:300px;
    border:2px solid black;
    border-radius: 9px;
    box-shadow: 4px solid rgb(252, 247, 247);
    background-color: rgb(3, 6, 24);  
    overflow: hidden;
}
/* form  */
input{
    width: 90%;
    background: black;
    color:white;
    font-size:2rem;
    padding: 1rem;
    text-align: right;
    pointer-events: none;
}
/* button */
button{
    width: 73px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}
/* button class */
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
/* trademark */
.trademark{
    margin-top:10px;
    margin-left:25px;
    color:rgb(194, 223, 249);
    font-family: cursive;
}